
<nav>
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/signup']">Template Driven Form</a></li>
        <li><a [routerLink]="['/template/cutomValidations']">Template Driven Form</a></li>
        <li><a routerLink="register">Register</a></li>
        <li><a routerLink="skills">Skills</a></li>
        <li><a routerLink="nested">Nested Form 1</a></li>
        <li><a routerLink="nested/employee">Employee Nested Form</a></li>
        <li><a routerLink="pipes">Pipes Component</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/profile">Your Profile Information</a></li>
    </ul>
</nav>