<!-- <app-home></app-home> -->

<!-- <app-nav [value1]="'Child 1 hello'"></app-nav>
<app-nav [value1]="'Child 2 value'"></app-nav>
<app-nav [value1]="'Child 3 value'"></app-nav>
<app-nav [value1]="'Child 4 value'"></app-nav>


<ul *ngFor="let item of childValue">
  <li>{{item.value1}}</li>
</ul> -->


<app-nav></app-nav>

<!-- this is body

<input type="text" [(ngModel)]="userName">
<button (click)="ChangeUserName()">Change UserName</button> -->

<router-outlet></router-outlet>

<app-footer></app-footer>